<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>803342969057-jiam434oqoprij19n8jus533edvcck2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.803342969057-jiam434oqoprij19n8jus533edvcck2u</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>803342969057-e20sl80c6mqsh39trljrlhhas2i1jd6t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAA20lwNG2yw8qmQOJwQ1HKiZQjhnOm39s</string>
	<key>GCM_SENDER_ID</key>
	<string>803342969057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglistfinal-15b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglistfinal-15b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:803342969057:ios:9b81c1c8484ec3e62aafa0</string>
</dict>
</plist>